* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  width: 100%;
}

table {
  table-layout: fixed;
  width: auto;
  text-align: center;
}

td {
  font-weight: normal;
  padding:0.5em;
}

th {
  cursor: pointer;
}

/* CONTAINERS */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-tracks-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-tracks {
  display: flex;
}

.flex-container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */

.btn-submit {
  font-size: 32px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.2em;
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-submit:hover {
  border: 3px solid rgb(48, 111, 219);
}

.btn-submit:active {
  border: 3px solid rgb(48, 111, 219);
}

.btn-search-radio {
  margin-right: 0.5em;
}

.btn-add-track {
  display: inline-block;
  padding: 0.2em;
  margin-left: 0.5em;
  border-radius: 25%;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-add-track:hover {
  border: 1px solid rgb(48, 111, 219);
  cursor: pointer;
}

.btn-add-track:active {
  background-color: rgb(48, 111, 219);
  cursor: pointer;
}

.btn-play {
  display: inline-block;
  padding: 0.2em;
  border-radius: 25%;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-play:hover {
  border: 1px solid rgb(48, 111, 219);
  cursor: pointer;
}

.btn-play:active {
  background-color: rgb(48, 111, 219);
  cursor: pointer;
}

.btn-delete-track {
  display: inline-block;
  padding: 0.2em;
  border-radius: 25%;
  margin-right: 1em;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-delete-track:hover {
  border: 1px solid rgb(48, 111, 219);
  cursor: pointer;
}

.btn-delete-track:active {
  background-color: rgb(48, 111, 219);
  cursor: pointer;
}

.btn-collapse {
  display: inline-block;
  padding: 0.2em;
  border-radius: 25%;
  margin-left: 1em;
  margin-top: 1em;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-collapse:hover {
  border: 1px solid rgb(48, 111, 219);
  cursor: pointer;
}

.btn-collapse:active {
  background-color: rgb(48, 111, 219);
  cursor: pointer;
}

.btn-sort {
  display: inline-block;
  padding: 0.2em;
  border-radius: 25%;
  background-color: white;
  border: 1px solid black;
}

.btn-sort:hover {
  border: 1px solid rgb(48, 111, 219);
}

.btn-sort:active {
  background-color: rgb(48, 111, 219);
}

.btn-nav-search {
  position:fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  display: inline-block;
  padding: 1em;
  background-color: white;
  border: 1px solid black;
  border-right: 0;
  cursor: pointer;
}

.btn-nav-search:hover {
  border: 1px solid rgb(48, 111, 219);
}

.btn-nav-search:active {
  background-color: rgb(48, 111, 219);
}

.btn-nav-data {
  position: fixed;
  bottom: 0;
  right:0;
  width: 50%;
  display: inline-block;
  padding: 1em;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-nav-data:hover {
  border: 1px solid rgb(48, 111, 219);
}

.btn-nav-data:active {
  background-color: rgb(48, 111, 219);
}

.btn-next {
  display: inline-block;
  padding: 0.2em;
  margin:0.5em;
  border-radius: 25%;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-next:hover {
  border: 1px solid rgb(48, 111, 219);
  cursor: pointer;
}

.btn-next:active {
  background-color: rgb(48, 111, 219);
  cursor: pointer;
}

/* SEARCHBAR */

.search-label {
  margin-right: 0.5em;
  ;
}

.searchbar {
  margin-top: 1em;
  padding: 0.2em;
  font-size: 32px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.searchbar:hover {
  border: 3px solid rgb(48, 111, 219);
}

.searchbar:active {
  border: 1px solid rgb(48, 111, 219);
}

/* FIRST SECTION */

.track-results-header {
  font-weight: normal;
  font-size: 24px;
  margin-top: 0.5em;
  padding-left: 0.2em;
}

.track-results-list {
  padding-left: 0.2em;
  padding-top: 1.3em;
  font-size: 16px;
}

.results-section {
  flex-shrink: 0;
}

.artist-and-title {
  padding:1em 0 1em 1em;
}

/* SECOND SECTION */

.meta-info-header {
  font-weight: normal;
  font-size: 24px;
  margin-top: 1em;
  margin-left: 3em;
  margin-bottom: 1em;
}

.meta-info-list {
  margin-left: 2em;
  padding-top: 1.3em;
  font-size: 16px;
}

@media screen and (max-width:768px) {
  section {
    width: 100%;
  }

  .searchbar {
    width: 250px;
    font-size: 18px;
    margin-left: 0.5em;
  }

  .btn-submit {
    font-size: 18px;
  }

  .search-label {
    font-size: 14px;
  }

  .btn-play {
    margin: 0;
  }

  .btn-add-track {
    margin-left: 0.5em;
  }

  .meta-info-header {
    padding: 0;
    margin: 0;
  }

  .meta-info-list {
    padding: 0;
    margin: 0;
  }

  @media (prefers-color-scheme: dark) {
    body{
      background-color: rgba(0, 0, 0, 0.1);
      color:rgba(255, 255, 255, 0.7);
    }
  }

    .btn-submit {
      border-radius: 0px 10px 10px 0px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 0.2em;
      color:rgba(255, 255, 255, 0.4);
      background-color: rgb(48, 111, 219);
    }
  
    .btn-submit:hover {
      border: 3px solid white;
    }
  
    .btn-submit:active {
      border: 3px solid white;
    }
  
    .btn-add-track {
      display: inline-block;
      padding: 0.2em;
      margin-left: 0.5em;
      border-radius: 25%;
      color: rgba(255, 255, 255, 0.4);
      background-color: rgb(48, 111, 219);
      border: 1px solid black;
      cursor: pointer;
    }
  
    .btn-add-track:hover {
      border: 1px solid white;
      cursor: pointer;
    }
  
    .btn-add-track:active {
      background-color: white;
      cursor: pointer;
    }
  
    .btn-play {
      display: inline-block;
      padding: 0.2em;
      border-radius: 25%;
      color:rgba(255, 255, 255, 0.4);
      background-color: rgb(48, 111, 219);
      border: 1px solid black;
      cursor: pointer;
    }
  
    .btn-play:hover {
      border: 1px solid white;
      cursor: pointer;
    }
  
    .btn-play:active {
      background-color: white;
      cursor: pointer;
    }
  
    .btn-delete-track {
      display: inline-block;
      padding: 0.2em;
      border-radius: 25%;
      margin-right: 1em;
      color: rgba(255, 255, 255, 0.4);
      background-color: rgb(48, 111, 219);
      border: 1px solid black;
      cursor: pointer;
    }
  
    .btn-delete-track:hover {
      border: 1px solid white;
      cursor: pointer;
    }
  
    .btn-delete-track:active {
      background-color: white;
      cursor: pointer;
    }
  
    .btn-nav-search {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 50%;
      display: inline-block;
      padding: 1em;
      color: rgba(255, 255, 255, 0.4);
      background-color: rgb(48, 111, 219);
      border: 1px solid black;
      border-right: 0;
      cursor: pointer;
    }
  
    .btn-nav-search:hover {
      border: 1px solid rgb(48, 111, 219);
    }
  
    .btn-nav-search:active {
      background-color: rgb(48, 111, 219);
    }
  
    .btn-nav-data {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 50%;
      display: inline-block;
      padding: 1em;
      color: rgba(255, 255, 255, 0.4);
      background-color: rgb(48, 111, 219);
      border: 1px solid black;
      cursor: pointer;
    }
  
    .btn-nav-data:hover {
      border: 1px solid white;
    }
  
    .btn-nav-data:active {
      background-color: white;
    }
}